<style type="text/css">
    .main-row {
        max-width: 500px;
    }
</style>

<div class="main" ng-controller="signupCtrl">
    <form ng-submit="submit()" method="post" id="mySignup">
        <h1> Sign Up </h1><br>
        <div class="main-row">
            <div class="agileits-top">
                <!-- //REMEMBER TO CHECK FOR EXISTING ACCOUNT INFO -->
                <input class="text" type="text" name="username" id="username" ng-model="username" placeholder="Username" required>
                <input class="text" type="text" name="firstname" id="firstname" ng-model="firstname" placeholder="Firstname" required>
                <input class="text" type="text" name="lastname" id="lastname" ng-model="lastname" placeholder="Lastname" required>
                <input class="text" type="text" name="phone" ng-model="phone" placeholder="Phone Number:" required>
                <input class="text" type="text" name="credit" ng-model="credit" placeholder="Credit Card Number:" required>
                <input class="text" type="password" name="password" ng-model="password" placeholder="Password" required>
                <input class="text" type="password" name="password2" ng-model="password2" placeholder="Re-enter Password" required>
                <br>
                <h2> Are you a driver? <input type="checkbox" ng-model="driverStatus"></h2>

                <input type="submit" value="SUBMIT">

            </div>
        </div>
    </form>
</div>
</body>
